*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    color: black;
    line-height: 1.6;
    background-color: #BDE3C3 ;
}
header{
    background-color: #DDDEAB;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
header h1:hover{
    transform: scale(1.1);
    background-color: lightblue;
}
nav a{
    color: black;
    font-size: 1rem; 
    font-weight: bold;   
    text-decoration: none;
    margin-left: 0.80rem ;
}

/* nav:hover{
    transform: scale(1.1);
} */

nav a:hover{
    background-color: aquamarine;
}
/* .about:hover{
    transform: scale(1.1);
} */
.intro{
    background-color: #F5CBCB;
    text-align: center;
    padding: 60px 20px;
}
.intro p{
    font-size: 1.5rem;

}
.intro h2{
    font-size: 1.5rem;
    color: rgb(54, 51, 51);
}
.intro:hover{
    transform: scale(0.9);
    background-color: #FFACAC;
}
section{
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
    border-radius: 1rem;
}
.card{
    background-color: #F5CBCB;
    padding: 2rem;
    border-radius: 1rem;
}
.card:hover{
    transform: scale(0.9);
    background-color: #A1C2BD;
}
.project-section .section-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.project-card{
    background-color: #F5CBCB ;
    /* border-radius: 2rem; */
    box-shadow: 10px 10px 30px rgba(1,1,1,0.6) ;
    padding: 2rem;
    transition: transform 0.4s;
     border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.project-card:hover{
    transform: translateY(10px) scale(1.1);
    background-color: #C5B0CD;
    
}
.section-title:hover{
    transform: scale(0.9);
    background-color: #A8FBD3;
}
.project-image{
    width:100%;
    height: 150px;
    object-fit: cover;
}
.project-content{
    padding: 1.3rem;
}
.project-title{
    font-size:1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.project-description{
    font-size: 1rem;
    color:rgb(39, 37, 37);
    margin-bottom: 1.2rem ;
}
.project-btn{
    background-color: #9B7EBD;
    font-weight: bolder;
    color:black;
    text-align: center;
    text-decoration: none;
    border-radius: 2rem;
    padding: 1rem;
    /* margin-bottom: 1.5rem ; */
}
.project-btn1:hover{
    transform:scale(1.1);
}
.contact-grid{
    font-weight: bold;
    color:black;
    text-align: center;
}
.form{
    color:black;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.contact-grid:hover{
    transform: scale(0.9);
    background-color: #7ab058;
}
.button {
    margin: 15px 5px;
    padding: 5px;
    background-color: rgb(70, 64, 64);
    color: white;
    border-radius: none;
    border-color: rgb(17, 130, 130);
}
.button:hover{
    transform: scale(1.1);
    background-color: #67C090;
}
.form:hover{
    background-color: #EBD6FB;
    max-width:auto;
}
 footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #37353E;
  color: #f1f1f1;
  font-family: Arial, sans-serif;
}

footer .hero {
  flex: 1 1 100px;
  margin: 10px;
}

footer .hero h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #B3A492;
  border-bottom: 2px solid #241d03;
  display: inline-block;
}

footer .hero p {
  margin: 8px 0;
  font-size: 16px;
  color: #ccc;
}

footer .hero p:hover {
  color: #ffffff;
  cursor: pointer;
}


